*{
    font-family: "Pretendard-Regular";
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*
.whole{
    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
    padding: 0px 50px;
    border: 1px solid red;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}
.menu_btn_on{
    background-color: #BFF205;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 50px;
}
.menu_btn_off{
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    font-weight: bold;
        padding: 5px 50px;
}
*/

.container{
    width: 1280px;
    margin: 0 auto;
}

.top_bar{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 1280px;
    padding: 50px 50px;
    justify-content: space-between;
}
.img{
    display: flex;
    align-items: center;
    gap: 10px;
}
.img img{
    width: 120px;
    height: auto;
}
.top_button > a{
    display: line-block;
    justify-content: center;
    background-color: #040240;
    color: white;
    border-radius: 8px;
    padding: 10px 35px;
    margin-left: 10px;
    font-weight: bold;
}


.menu_container{
    box-sizing: border-box;
    width: 1280px;
    padding: 0 50px;
}
.menu_button{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.menu_button > li > a{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 180px;
    padding: 15px 0px;
    font-weight: bold;
}
.menu_button > li > .active{
    background-color: #BFF205;
}


.content_container{
    border: 2px solid black;
    border-radius: 10px;
    height: 500px;
    margin: 40px 50px 0px;
}


.bottom_bar{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 1280px;
    padding: 20px 50px;
    justify-content: flex-end
}
.bottom_button{
    display: inline-block;
    text-decoration: none;
    background-color: #040240;
    color: white;
    border-radius: 8px;
    padding: 10px 35px;
    font-weight: bold;
}