/*==============================공통 CSS==============================*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
li{
    list-style: none;
}
/*==============================메인 CSS==============================*/
#main{
    display: flex;
    border-bottom: 1px solid #dde2e8;
}
/*==============================메인 로고 CSS==============================*/
#mainLogo{
    width: 80px;
    height: 80px;
    padding: 50px;
}
#mainLogo img{
    width: 80px;
    height: 80px;
}
/*==============================메인 이미지 CSS==============================*/
#mainImg{
    text-align: center;
    font-size: 35px;
}
#mainImg img{
    width: 600px;
    height: 600px;
}
/*==============================메인 내용 CSS==============================*/

/*==============================푸터 CSS==============================*/

/*==============================푸터 상단 CSS==============================*/

/*==============================푸터 하단 CSS==============================*/
