







#bottom{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 20px auto;
}
.name{
    color: #3862bd;
    font-weight: bold;
}

a{
    text-decoration: none;
}
.화살표 img{
    width: 20px;
}
    

