/* 1. size : width height */
.box{
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 100px;
}
.widthHeight{
    width: 200px;
    height: 200px;
}
/*==============================min-width==============================*/
.minWidth{
/*
    최소 가로 사이즈 600px 설정
    최대 가로 사이즈 설정이 없으므로 100%
    - 화면이 600px보다 크면 100%, 작아지면 600px 고정
*/
    min-width: 600px;
}
/*==============================max-width==============================*/
.maxWidth{
/*
    최대 가로 사이즈 600px 설정
    최소 가로 사이즈 설정이 없으므로 100%
    - 화면이 600px보다 작으면 100%, 커지면 600px 고정
*/
    max-width: 600px;
}
/*==============================min-height==============================*/
.minheight{
/*
    최소 세로 사이즈 100px 설정
    최대 세로 사이즈 설정이 없으므로 100%
    - 내용물의 높이가 100px보다 작으면 100px, 크면 100%
*/
    width: 200px;
    min-height: 100px;
}
/*==============================max-height==============================*/
.maxheight{
/*
    최대 세로 사이즈 100px 설정
    - 내용물의 높이가 100px보다 커져도 100px 고정, 작으면 100%
    - 내용물이 많아지면, 박스 밖으로 내용물이 나감.
    -> overflow로 스크롤을 만듦.
*/
    width: 200px;
    max-height: 100px;
}