/* 
[CSS 구조]
    선택자{속성명 : 값;}

[CSS 선택자] : 대상의 구분 (매우매우 중요)
    1. * : 전체 선택자 (공통 css 적용)
    2. 마크업명 : 마크업 선택자
    3. .class : 클래스 선택자(복수형, 묶을 수 있음)
            class="구역1 구역2"(가능)
    4. #id : 아이디 선택자(단일형, 묶을 수 없음)
            id="구역1"(가능)
            id="구역1 구역2"(불가능)
    - 만일 속성이 중복일 때 우선순위
    (style="" >) #id > .class > 마크업명 > *
    - 그 외의 중복일 땐, 코드 작성순으로 마지막 코드 속성 적용
    - 일반적으로 최대한 클래스 선택자를 활용하고 특정한 부분만 id선택자를 적용한다.
    5. 다중 선택자 : 여러개 선택자를 한 번에 적용 -> ,를 이용
        구역1, 구역2{속성명:값;}
    6. 자식 선택자 : '>' 이용한 선택
        - 부모선택자 > 자식선택자{}
    7. 자손 선택자 : 띄어쓰기 이용한 선택
        - 부모선택자 자손선택자{}
*/


/* 1. 전체 선택자 */
*{color: red;} 
/* 2. 마크업 선택자 */
h4{color: blue;} 
/* 3. 클래스 선택자 */
.구역1{color: yellow;}
.구역3{color: orange;}
/* 4. 아이디 선택자 */
#구역2{color: brown;}
/* 5. 다중 선택자 */
h5, h6{color: pink;}
/* 6. 자식 선택자 */
div > h3 { /* div 바로 아래의 h3 선택 */
    color: green;
}
div > .구역5{color: silver;}
/* 7. 자손 선택자 */
div h3{color: purple;} /* div 아래의 모든 h3 선택 */