img{
    width: 400px;
    height: 500px;
}
.content1{
    color: orange;
    font-size: 30px;
    font-weight: bold;
}
.content2{
    font-weight: bold;
    font-size: 15px;
}
.content3{
    background-color: darkslateblue;
    color: white;
    padding: 20px;
    margin: 20px 0px;
}
.content4{
    color: orange;
}