/* 테스트용 : 완성 후 삭제 
*{ 
    border: solid 2px red;
    padding: 3px;
}
*/

.container{
    width: 320px;
    margin: 50px auto; /* width와 세트 */
    text-align: center;
    box-shadow: 3px 3px 8px pink;
    border-radius: 15px;
    padding: 5px 0px 25px 0px;
}
.input_id, .input_pw{
    width: 150px;
    height: 30px;
    padding: 0px 15px;
    margin: 5px;
    border: 1px solid gray; /* 테두리 없음 : none*/
    border-radius: 10px;
}

.input_btn{
    background-color: blue;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    /* 버튼 크기 조정할 때, 주로 padding 사용*/
    padding: 4px 15px;
    margin: 10px;
}
a{
    text-decoration: none; /* a태그 밑줄 없애는 방법*/
}
.foot{
    font-weight: 500;
    font-size: 12px;
}